.center{
    display: flex;
    flex-direction: column;


}

.carousel-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin-left: 20vw; */
    align-items: center;
    margin: 20px;
    width: 80%;
    align-self: center;
    /* background-color: red; */

  
}

.social-accounts {
    display: flex;
    width: 7vw;
    justify-content: space-around;
}
.social-accounts a img {
    width: 5vw;
    /* margin-left: 10px ; */
} 

.pdf-cv {
    border: 1.5px solid #000;
    padding: 10px 50px;
    font-size: 13px;
    font-weight: 300;  
    color:  #000;
    text-decoration: none;
}

.pdf-cv:hover  {
    background-color: #fff;
    /* border: 1.5px solid #df4243; */
    cursor: pointer;  
}

.small-hr {
    width: 3.5vw;
    height: 0.5vw;
    background-color: #df4243;
}

/* .headerName {
    font-size: 20px;
    font-weight: 500; */
/* } */

