* {
  box-sizing: border-box;

}

/* a[target=_blank] {
  background-color: yellow;
} */

div[display=flex] {
  flex-wrap: wrap;
}


.App {
  background: url("https://static.wixstatic.com/media/84770f_aa5443ee25e74ddda9306ef6898c30c3~mv2.jpg/v1/fill/w_1432,h_504,al_c,q_85,usm_0.66_1.00_0.01/84770f_aa5443ee25e74ddda9306ef6898c30c3~mv2.webp");
  background: url("https://static.wixstatic.com/media/05e3dc_cc646f530d6846828d53dd3216ec8023~mv2.jpg/v1/fill/w_1432,h_708,al_c,q_85,usm_0.66_1.00_0.01/05e3dc_cc646f530d6846828d53dd3216ec8023~mv2.webp");
  /* background-position:top; */
  /* background: cover; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* filter: brightness(70%); */
  height: 100vh;

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
